<div id="carouselExampleControls" class="no-padding carousel slide" data-bs-ride="carousel">
  <div id="search-bar-vin">
    <input type="text" placeholder="Introduce tu VIN aqui!" id="input-vin" #barVIN>
    <div id="searchSection">
      <div id="searchBtnContainer" (click)="this.toReporter(barVIN.value)">
        <div id="searchContainer">
          <mat-icon id="searchHeader" aria-hidden="false" aria-label="Example home icon">search</mat-icon>
        </div>
      </div>
    </div>
  </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/Car-Wallpaper4.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/Car-Wallpaper3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/Car-Wallpaper.jpg" class="d-block w-100" alt="...">
      </div>
  
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>