
  <div id="header">
    <div id="logoSection">
      <div id="logoBtnContainer" routerLink="home">
        <div id="logoContainer">
          <mat-icon id="logoHeader" aria-hidden="false" aria-label="Example home icon">garage</mat-icon>
        </div>
        <div id="logoTitleContainer">
          <div id="logoTitle">Vin Reporter</div>
        </div>
      </div>
    </div>
    <div id="menuSection">
      <div id="menuBtnContainer" routerLink="/">
        <div id="menuContainer">
          <mat-icon id="menuHeader" aria-hidden="false" (click)="snav.toggle()" aria-label="Example home icon">menu</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <mat-sidenav-container id="general-sidenav">
    <mat-sidenav #snav id ="sidenav">
    <mat-nav-list id="sidenavList">
        <mat-list-item class="sidenavItem" routerLink="home"  (click)="snav.toggle()"> <h1 class="sidenavText">Inicio</h1> </mat-list-item>
        <mat-list-item class="sidenavItem" routerLink="home"  (click)="snav.toggle()"> <h1 class="sidenavText">Busqueda por vin</h1> </mat-list-item>
        <mat-list-item class="sidenavItem" routerLink=""  (click)="snav.toggle()"> <h1 class="sidenavText">Sobre nosotros</h1> </mat-list-item>
        <mat-list-item class="sidenavItem" routerLink="" (click)="snav.toggle()"><h1 class="sidenavText">Contactanos</h1> </mat-list-item>
        <mat-list-item class="sidenavItem"  (click)="snav.toggle()"> <h1 class="sidenavText">Estadisticos</h1> </mat-list-item>

    </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content>
            <div style="width:100%; height: 100%; background:none; position: absolute; z-index:0;"></div>
    </mat-sidenav-content>
    </mat-sidenav-container>

  <!--button mat-stroked-button color="accent" routerLink="/home">Home</button>
    <button mat-stroked-button color="accent" routerLink="/categories">Categories</button>
    <button mat-stroked-button color="accent" routerLink="/business">Business</button>
    <button mat-stroked-button color="accent" routerLink="/store">store</button-->
  
